<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1016795528150-h0b8jose5bar81kc1f54e6oatd9fj8d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016795528150-h0b8jose5bar81kc1f54e6oatd9fj8d1</string>
	<key>API_KEY</key>
	<string>AIzaSyD7UOsDySuNQeS21CIWx47jDbk5jT8YFJo</string>
	<key>GCM_SENDER_ID</key>
	<string>1016795528150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VanillaThunder.Combined-Maps-ARKit</string>
	<key>PROJECT_ID</key>
	<string>vanillathunder-ac0df</string>
	<key>STORAGE_BUCKET</key>
	<string>vanillathunder-ac0df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016795528150:ios:a16ccae95d206e96</string>
	<key>DATABASE_URL</key>
	<string>https://vanillathunder-ac0df.firebaseio.com</string>
</dict>
</plist>